<!--<div>
    <form (submit)="addHobby(newHobby)">
        <input type="text" #newHobby>
        <button>send hobby</button>
    </form>
</div>
<div>
    <ul>
        <li *ngFor="let hobby of hobbies">
            {{hobby}}
            <button (click)="deleteHobby(hobby)">X</button>
        </li>
    </ul>
</div>
<div>
    <form action="">
        <input type="text" name="name" [(ngModel)]="name">
        <input type="text" name="age" [(ngModel)]="age">
    </form>
    name: {{name}}
    age: {{age}}
</div>
<hr>
 <div *ngFor="let post of posts">
     <h3>{{post.title}}</h3>
     <p>{{post.body}}</p>
 </div>-->
<ul>
    <li><a routerLink='/'>HOME</a></li>
    <li><a routerLink='/about'>ABOUTE</a></li>
</ul>
<router-outlet></router-outlet>